<footer>
  <app-contacto></app-contacto>
    <div class="pie">
        <ul>
            <li>
                <a href="https://www.instagram.com/pandogabo/">
                <img src="assets/Imagenes_Otakuteka/instagram (1).png" alt="instagram iconos">
                </a>
                <h5>instagram</h5>
            </li>
            <li>
                <a href="https://wa.me/qr/25MCEY7UVQDHO1">
                <img src="assets/Imagenes_Otakuteka/whatsapp.png" alt="whatsapp iconos">
                </a>
                <h5>whatsapp</h5>
            </li>
            <li>
                <a href="https://www.facebook.com/gabriel.pandiani/">
                <img src="assets/Imagenes_Otakuteka/facebook.png" alt="facebook iconos">
                </a>
                <h5>facebook</h5>
            </li>
        </ul>
    </div>
</footer>
