form,h3{
  background-color: var(--colorCeleste);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
}

input{
  margin-left: 20px;
  border-radius: 30px;
  padding-left: 10px;
  cursor: pointer;
}

button{
  border-radius: 30px;
  width: 100px;
  background-color: var(--colorNaranja);
  color: var(--colorBlanco);
}

.error{
  color:var(--colorNaranja);
  font-weight: bolder;
  text-align: center;
}
