<div class="valoracion">

  <p>¿Viste este anime? Deja tu valoracion a continuacion: </p>

  <button class="estrellas" (click)="calificar(1)" >
    <i class="fas fa-star"></i>
  </button>

  <button class="estrellas" (click)="calificar(2)">
    <i class="fas fa-star"></i>
  </button>

  <button class="estrellas" (click)="calificar(3)">
    <i class="fas fa-star"></i>
  </button>

  <button class="estrellas" (click)="calificar(4)">
    <i class="fas fa-star"></i>
  </button>

  <button class="estrellas" (click)="calificar(5)">
    <i class="fas fa-star"></i>
  </button>

</div>
